<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lemkhantar.fundamental">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".helper.TimeService" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Garage" />
        <activity android:name=".activities.Rechanger" />
        <activity android:name=".activities.Historique" />
        <activity android:name=".activities.Operer" />
        <activity android:name=".activities.Reposer" />
        <activity android:name=".activities.Revenuer" />
        <activity android:name=".activities.Accumulateur" />
        <activity android:name=".activities.Revenus" />
        <activity android:name=".activities.AjoutPiece"></activity>
        <activity android:name=".activities.Reglages"></activity>
    </application>

</manifest>